<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>

<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>

<div id="container" class="container mt-5">
    <h5>Контактна інформація</h5>
    <br>
    <p><b>Телефон:</b> (099) 911-25-68<br/>
        <b>E-mail:</b> winestore@gmail.com</p>
    <br>
    <h6>Режим роботи</h6>
    <p>Магазин працює з 08:00 до 23:00 без перерви та вихідних. <br/>
        Онлайн замовлення приймаються цілодобово.</p>
    <br>
    <h6>Доставка</h6>
    <p>Доставка замовлень відбувається через кур'єрську службу</p>

</div>

<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>