<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>



<div id="container">
    <div class="container">




        <div class="d-flex">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Вина</h3>
                </div>

                <form action="/menu/search" method="get">
<!--                <form th:action="@{/menu/price/{path} (path = ${search})}" method="get">-->

                <div class="text-center">
                    <button type="submit" class="btn btn-primary ml-auto d-inline-block bg-success" style="width: 80px;">Знайти</button>
                    <a href="/menu" class="btn btn-secondary ml-2 d-inline-block" role="button" style="width: 100px;">Оновити</a>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ціна</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu1" >
                            <li>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input type="text" name="startingPrice" class="form-control"  id="value" th:value="${minWinePrice}"/>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="endingPrice" class="form-control" th:value="${maxWinePrice}" />
                                    </div>
                                </div>
                                <input type="range" th:min="${minWinePrice}" th:max="${maxWinePrice}" th:value="${minWinePrice}"
                                       class="custom-range" oninput="updateTextInput(this.value);">
                                <script>
                                    function updateTextInput(val) {
                                        document.getElementById('value').value=val;
                                    }
                                </script>
                            </li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Бренд</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu2">
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" th:name="${'brands'}" th:value="${'Moet + Chandon'}" >
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Moet + Chandon
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Pocas">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Pocas
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Barros">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Barros
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Tokaji Cuvée">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Tokaji Cuvée
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Pasqua">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Pasqua
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Masseria Trajone">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Masseria Trajone
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Villa Sparina">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Villa Sparina
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Cavino">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Cavino
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Grizzly Bear">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Grizzly Bear
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="IMIGLIKOS">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        IMIGLIKOS
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Mildiani">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Mildiani
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Iveria">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Iveria
                                    </label>
                                </div>

                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Royal Khvanchkara">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Royal Khvanchkara
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Mildiani">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Mildiani
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Artis">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Artis
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Wolfberger">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Wolfberger
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Patriarche">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Patriarche
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Ogier">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Ogier
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Jean Loron">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Jean Loron
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Passione Sentimento Rosso">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Passione Sentimento Rosso
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Chateau">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Chateau
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Katlenburger">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Katlenburger
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Eins-Zwei-Zero">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Eins-Zwei-Zero
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="ZenZen">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        ZenZen
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Bernkasteler Kurfurstlay">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Bernkasteler Kurfurstlay
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Сaptain Cook">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Сaptain Cook
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Sierra Alta">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Sierra Alta
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Alma Andina">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Alma Andina
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Porteno">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Porteno
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Norton">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Norton
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Yamana">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Yamana
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Alma Mora">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Alma Mora
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Lo Tengo">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Lo Tengo
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="El Bautismo">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        El Bautismo
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Gonzalez">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Gonzalez
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="brands" value="Romate">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                        Romate
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </li>



                    <li class="active">
                        <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Колір</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu3">
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="color" th:value="${'біле'}">
                                        <span class="cr crwh"><i class="cr-icon fas fa-check"></i></span>
                                        біле
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ml-3">
                                    <label>
                                        <input type="checkbox" name="color" th:value="${'червоне'}">
                                        <span class="cr crre"><i class="cr-icon fas fa-check"></i></span>
                                        червоне
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </li>





<!--                    <li class="active">-->
<!--                        <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Тип</a>-->
<!--                        <ul class="collapse list-unstyled" id="homeSubmenu4">-->
<!--                            <li>-->
<!--                                <div class="checkbox ml-3">-->
<!--                                    <label>-->
<!--                                        <input type="checkbox" name="type" th:value="${'сухе'}">-->
<!--                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>-->
<!--                                        сухе-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="checkbox ml-3">-->
<!--                                    <label>-->
<!--                                        <input type="checkbox" name="type" th:value="${'напівсухе'}">-->
<!--                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>-->
<!--                                        напівсухе-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="checkbox ml-3">-->
<!--                                    <label>-->
<!--                                        <input type="checkbox" name="type" th:value="${'напівсолодке'}">-->
<!--                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>-->
<!--                                        напівсолодке-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="checkbox ml-3">-->
<!--                                    <label>-->
<!--                                        <input type="checkbox" name="type" th:value="${'солодке'}">-->
<!--                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>-->
<!--                                        солодке-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->




                </ul>
                </form>
            </nav>

            <div class="row mt-5 ml-5">
                <div th:insert="~{parts/common :: pagination}"></div>
                    <div class="con container-fluid mt-5">
                        <div class="row" th:fragment="list">
                            <div class="wine col-lg-3 d-flex align-items-stretch" th:each="wine : ${page.getContent()}">
                                <div class="card mb-5" th:if="${wine.getFilename()}">

                                    <img id="imgwine" th:src="@{/static/img/{path} (path = ${wine.getFilename()})}"  class="rounded mx-auto w-50">

                                    <div class="card-body text-center">
                                        <h5 id="winetitle" th:text="${wine.getWineTitle()}"></h5>
                                        <h6 class="winebrand" th:text="${wine.getBrand()}"></h6>
                                        <h6><span th:text="${wine.getPrice()}"></span>,00 грн.</h6>
                                    </div>
                                    <div class="text-center align-items-end mb-3">
                                        <a th:href="@{/product/{path} (path = ${wine.getId()})}" class="btn btn-dark">Купити</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class='scrolltotop'></div>
        </div>
    </div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>
<script src="../static/js/index.js"></script>
<script src="../static/js/jQuery.js"></script>
</body>
</html>